## Assignment 1
**Deadline**: 23rd September 2024

This assessment consists of 20 MongoDB queries, ranging from easy to hard. You are required to use the following sample data:

```json
{
    "students": [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]
}

```

Please submit your solutions by the given deadline.

1. Insert the given sample data into a MongoDB collection called 'students'.

In [7]:
# Importing package
import pymongo

# Connect to MongoDB
client = pymongo.MongoClient("mongodb://localhost:27017/")

# Accessing the Database
mydb = client["Unmessenger"]

# Creating Collection
collection = mydb.students

# Accessing Collection
collection = mydb["students"]

In [8]:
# insert data
student_1 = {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"}
student_2 = {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"}
student_3 = {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"}
student_4 = {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"}
student_5 = {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}

# Insert one document
collection.insert_one(student_1)

# Insert many documents
collection.insert_many([student_2, student_3,student_4,student_5])

InsertManyResult([ObjectId('66f1382738f7d2ba71a4a569'), ObjectId('66f1382738f7d2ba71a4a56a'), ObjectId('66f1382738f7d2ba71a4a56b'), ObjectId('66f1382738f7d2ba71a4a56c')], acknowledged=True)

2. Write a query to find all students who have a 'math_score' greater than 80.

In [12]:
# Query to find students with math_score greater than 80
students = collection.find({ "math_score": { "$gt": 80 } })

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a568'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

3. Write a query to find students whose 'age' is less than 23.

In [13]:
# Query to find students whose age is less than 23
students = collection.find({ "age": { "$lt": 23 } })

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a569'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56b'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

4. Write a query to return only the 'name' and 'math_score' of all students.

In [14]:
# Query to return only the 'name' and 'math_score' of all students
students = collection.find({}, { "name": 1, "math_score": 1, "_id": 0 })

# Print the results
for student in students:
    print(student)

{'name': 'Rohit', 'math_score': 85}
{'name': 'Eram', 'math_score': 78}
{'name': 'Madan', 'math_score': 95}
{'name': 'Uvaish', 'math_score': 60}
{'name': 'Neha', 'math_score': 72}

5. Write a query to find students from the city 'New York'.

In [15]:
# Query to find students from 'New York'
students = collection.find({ "city": "New York" })

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a568'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}

6. Write a query to update the 'physics_score' of 'Bob' to 85.

In [16]:
# Update the 'physics_score' of 'Bob' to 85
result = collection.update_one(
    { "name": "Bob" },  # Filter to find the student named 'Bob'
    { "$set": { "physics_score": 85 } }  # Update the physics_score
)

# Check if the update was successful
if result.modified_count > 0:
    print("Successfully updated 'Bob's physics score.")
else:
    print("No student named 'Bob' was found.")

No student named 'Bob' was found.

7. Write a query to delete the student 'David' from the collection.

In [17]:
# Delete the student named 'David'
result = collection.delete_one({ "name": "David" })

# Check if the deletion was successful
if result.deleted_count > 0:
    print("Successfully deleted 'David' from the collection.")
else:
    print("No student named 'David' was found.")

No student named 'David' was found.

8. Write a query to find all students where 'math_score' is between 70 and 90 (inclusive).

In [18]:
# Query to find students with math_score between 70 and 90 (inclusive)
students = collection.find({ "math_score": { "$gte": 70, "$lte": 90 } })

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a568'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f1382738f7d2ba71a4a569'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56c'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

9. Write a query to find students whose 'math_score' is greater than 'physics_score'.

In [19]:
# Query to find students where math_score is greater than physics_score
students = collection.find({ "$expr": { "$gt": ["$math_score", "$physics_score"] } })

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a569'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

10. Write a query to return students sorted by 'math_score' in descending order.

In [20]:
# Query to return students sorted by math_score in descending order
students = collection.find().sort("math_score", -1)

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a56a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f1382738f7d2ba71a4a568'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f1382738f7d2ba71a4a569'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56c'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56b'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}

11. Write a query using the aggregation framework to calculate the average 'math_score' of all students.

In [21]:
# Aggregation query to calculate the average math_score
pipeline = [
    {
        "$group": {
            "_id": None,  # No grouping by any field
            "average_math_score": { "$avg": "$math_score" }  # Calculate average
        }
    }
]

# Execute the aggregation
average_score = collection.aggregate(pipeline)

# Print the result
for result in average_score:
    print("Average Math Score:", result["average_math_score"])

Average Math Score: 78.0

12. Write a query to group students by 'city' and count the number of students in each city.

In [22]:
# Aggregation query to group students by city and count the number of students in each city
pipeline = [
    {
        "$group": {
            "_id": "$city",  # Group by the city field
            "student_count": { "$sum": 1 }  # Count the number of students
        }
    }
]

# Execute the aggregation
city_counts = collection.aggregate(pipeline)

# Print the results
for result in city_counts:
    print(f"City: {result['_id']}, Number of Students: {result['student_count']}")

City: New York, Number of Students: 1
City: Los Angeles, Number of Students: 1
City: Chicago, Number of Students: 1
City: Houston, Number of Students: 1
City: Phoenix, Number of Students: 1

13. Write a query to find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.

In [23]:
# Query to find students with math_score > 80 or physics_score > 85
students = collection.find({ 
    "$or": [
        { "math_score": { "$gt": 80 } },
        { "physics_score": { "$gt": 85 } }
    ]
})

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a568'), 'name': 'Rohit', 'age': 23, 'math_score': 85, 'physics_score': 90, 'city': 'New York'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}

14. Write a query to find students whose age is exactly 23 and live in 'Phoenix'.

In [24]:
# Query to find students whose age is 23 and live in 'Phoenix'
students = collection.find({ 
    "age": 23,
    "city": "Phoenix"
})

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a56c'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

15. Write a query to find students whose 'math_score' is not equal to 85.

In [25]:
# Query to find students whose math_score is not equal to 85
students = collection.find({ 
    "math_score": { "$ne": 85 }  # $ne is the operator for "not equal"
})

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a569'), 'name': 'Eram', 'age': 22, 'math_score': 78, 'physics_score': 75, 'city': 'Los Angeles'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56b'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56c'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

16. Write a query to find students whose 'name' starts with the letter 'A'.

In [26]:
# Query to find students whose name starts with 'A'
students = collection.find({ 
    "name": { "$regex": "^A", "$options": "i" }  # ^A matches names starting with 'A', 'i' makes it case insensitive
})

# Print the results
for student in students:
    print(student)

17. Write a query to find students whose 'city' is neither 'New York' nor 'Los Angeles'.

In [27]:
# Query to find students whose city is neither 'New York' nor 'Los Angeles'
students = collection.find({ 
    "city": { "$nin": ["New York", "Los Angeles"] }  # $nin checks for values not in the specified array
})

# Print the results
for student in students:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a56a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'physics_score': 88, 'city': 'Chicago'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56b'), 'name': 'Uvaish', 'age': 21, 'math_score': 60, 'physics_score': 65, 'city': 'Houston'}
{'_id': ObjectId('66f1382738f7d2ba71a4a56c'), 'name': 'Neha', 'age': 23, 'math_score': 72, 'physics_score': 80, 'city': 'Phoenix'}

18. Write a query to update all students with 'age' greater than 22 to add a new field 'graduated': true.

In [29]:
# Update all students with age greater than 22 to add 'graduated': true
result = collection.update_many(
    { "age": { "$gt": 22 } },  # Filter for students with age greater than 22
    { "$set": { "graduated": True } }  # Set the graduated field to true
)

# Check how many documents were modified
print(f"Number of students updated: {result.modified_count}")

Number of students updated: 3

19. Write a query to remove the 'physics_score' field for students who live in 'Chicago'.

In [30]:
# Update to remove the 'physics_score' field for students who live in 'Chicago'
result = collection.update_many(
    { "city": "Chicago" },  # Filter for students who live in Chicago
    { "$unset": { "physics_score": "" } }  # Remove the physics_score field
)

# Check how many documents were modified
print(f"Number of students updated: {result.modified_count}")

Number of students updated: 1

20. Write a query to find the student with the highest 'math_score'.

In [31]:
# Query to find the student with the highest math_score
highest_math_score_student = collection.find().sort("math_score", -1).limit(1)

# Print the result
for student in highest_math_score_student:
    print(student)

{'_id': ObjectId('66f1382738f7d2ba71a4a56a'), 'name': 'Madan', 'age': 24, 'math_score': 95, 'city': 'Chicago', 'graduated': True}